<!DOCTYPE html>
<!-- Documento para registrar un nuevo usuario en la platafora"-->
{% load static %}
{% include 'Headerfield.html' %}
<html>
    <head>
        <meta charset="uft-8"/>
        <title>Ingreso</title>
        <link rel="icon" type="image/png" href="{% static 'img/icon_zeus_clean.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            .btn{
              background-color: #38afd9;
            }
            .card-body {
              text-align: center;
              background-color: #0D2137;
            }
            .card-img-top {

              margin-right: 50px;
            }
        </style>
    </head>
    <body>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Registrarse</h2>
                                    <p class="text-white-50 mb-5">¡Ingrese sus datos!</p>

                                    <form action = "" method = "post">
                                        {% csrf_token %}

                                        {{ form.as_div }}
                                        </br>

                                        <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Ingresar">
                                        <a href="/" class="btn btn-outline-light btn-lg px-5">Cancelar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>