<!DOCTYPE html>
<!-- Documento para la asquisisión de servicios por parte del cliente a la plataforma"-->
{% load static %}
{% include 'Headerfield.html' %}
<html>
    <Head>
        <meta charset="uft-8"/>
        <title>PaginaCliente</title>
        <link rel="icon" type="image/png" href="{% static 'img/icon_zeus_clean.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            .lightblue {
                background-color: #cfe2f3; !important;
            }
            .form-check-input {
                width: 70px;
                height: 70px;
                background-color: #cbcccf
            }
            #id_Servicios {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: none;
                background-color: transparent;
                cursor: default;
                pointer-events: none;
            }

            #id_Servicios:focus {
                outline: none;
            }

            #id_Servicios:disabled {
                color: inherit;
            }
            .texto-en-blanco {
                color: white;
                font-size: 20px;
                text-align: center;
                max-width: 100%; /* Ancho máximo del contenedor */

                /* Propiedad para ajustar el tamaño del texto al ancho del contenedor */
                width: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            label[for=id_Direccion_limpieza] {
                display: block;
                margin-bottom: 10px;
            }
        </style>
    </Head>
    <body class='container mt-5'>
        <div class="alert alert-info dispaly-1 text-center">
            <h3>Solicitud de servicios</h3>
        </div>
        <br/>
        <section class="vh-10 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-center text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Solicitud de servicios</h2>
                                    <p class="text-white-50 mb-5">Ingrese sus datos minimo 1 dia de anticipación</p>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        </br>
                                        <button type="button" class="btn btn-success btn-lg"onclick="SubmitButton()">Adquirir</button>
                                        <a href="/" class="btn btn-danger btn-lg">Cancelar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="input-group justify-content-center">
                <div class="form-outline" data-mdb-input-init>
                    <input type="search" id="searchInput" placeholder="Ingrese la palabra clave para su busqueda" class="form-control"/>
                </div>
                <button type="button" id="searchButton" onclick="PresevWord()"class="btn btn-dark btn-outline-light" data-mdb-ripple-init>
                    <i class="fas fa-search">Buscar</i>
                </button>
            </div>
        </div>
        <br/>
        <div>
            <table class="table table-striped table-inverse table-responsive" id='tabla_1'>
                <thead class="thead-inverse">
                    <tr>
                        <th>Nombre de servicio</th>
                        <th>Descripcion de servicio</th>
                        <th>Precio estimado</th>
                        <th>Tipo de limpieza</th>
                        <th>Categoria</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if datos2 %}
                        {% for x in datos2 %}
                            <tr class="fila-seleccionable"  data-id="{{ x.id }}">
                                <td>{{ x.Nombre_servicio }}</td>
                                <td>{{ x.Descripcion_servicio }}</td>
                                <td>{{ x.Precio_estimado }}</td>
                                <td>{{ x.Tipo_limpieza }}</td>
                                <td>
                                    {% if datos3 %}
                                        {% for y in datos3 %}
                                            {% if y.Servicios == x %}
                                                - {{ y.Categoria }} <br/>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Otro
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" onchange="seleccionarFila(this, '{{ x.id }}')" />
                                    <span class="d-none">{{ x.id }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        var SearchWord = ""
        tableFind = "#tabla_1"


        //funcion que se encarga de ejecutar la actualización de resultads de busquedad.
        function PresevWord()
        {
            SearchWord = $('#searchInput').val().toLowerCase();
            BuscarResultado()
        }
        //Funcion que se encarga de obtener los resultados actualzados del cliente mientras se recargan los servicios
        function BuscarResultado() {
            if(tableFind == "")return;

            $(tableFind + ' tbody tr').each(function() {
                let currentRow = $(this);

                currentRow.hide();

                currentRow.find('td').each(function() {
                    if ($(this).text().toLowerCase().indexOf(SearchWord) !== -1) {
                        currentRow.show();
                        return false;
                    }
                });
            });
        }

        //Función que se encarga de obtener valores cuando el cliente marca el servicio que quiera.
        function seleccionarFila(checkbox, id) {

            // Desmarcar todos los checkboxes excepto el actual
            $('input[type="checkbox"]').not(checkbox).prop('checked', false);
            // Eliminar la clase 'table-info' de todas las filas
            $('.fila-seleccionable').removeClass('table-info');
            var fila = $('.fila-seleccionable[data-id="' + id + '"]');
            if (fila.length) {
                // Si el checkbox está marcado, agrega la clase 'table-info', de lo contrario, elimina la clase
                if (checkbox.checked) {
                    fila.addClass('table-info');
                    // Establecer el valor del campo Servicios en el formulario
                    $('#id_Servicios').val(id);
                } else {
                    fila.removeClass('table-info');
                    // Restablecer el valor del campo Servicios en el formulario
                    $('#id_Servicios').val('');
                }

            }
        }

        //Función para compronar si el cliente quiere adquirir el servicio por medio de un mensaje.
        function SubmitButton()
        {
            var formulario = document.querySelector('form');
            Swal.fire({
                title: "¿Estás seguro de que quieras adquirí este servicio?",
                showCancelButton: true,
                confirmButtonText: "Si",
                CancelButtonText: `No`
              }).then((result) => {

                if (result.isConfirmed) {
                    formulario.submit();
                }
              });
        }


        //Funcion para limpiar los registrosa una vez se ingresa o recara la pagína.
        function limpiarSeleccion() {
            var dropdown = document.getElementById('id_Servicios');
            var optionZero = dropdown.querySelector('option[value=""]');
            dropdown.classList.add('texto-en-blanco');
            if (optionZero) {
                optionZero.text = "";
            }
        }
        limpiarSeleccion()

    </script>
</html>